jupyter-book>=0.13.0 # sphinx-design instead of sphinx-panel
jupytext
numpy
dask>=2023.2.0
eurec4a>=0.0.5
fsspec!=0.9.0 # 0.9.0 has a bug which leads to incomplete reads via HTTP
aiohttp
pydap
ipyleaflet
simplification
colorcet
datashader
pybtex-apa-style
xarray-datatree
pandas
-r https://raw.githubusercontent.com/eurec4a/eurec4a-intake/master/requirements.txt