jupyter-book
jupytext
matplotlib
numpy
xarray
eurec4a
intake[dataframe] # since intake 0.6.1 to_dask() doesn't work anymore without the [dataframe] specification due to a missing msgpack dependency
intake-xarray
fsspec
ipfsspec>=0.0.2
requests
aiohttp
pydap
sphinxcontrib-bibtex<2.0.0
ipyleaflet
simplification
